{% extends "base.twig" %}

{% block title %}

Home

{% endblock %}

{% block body %}

	<body class="home">
	<button class='navbar-toggler d-block d-lg-none' data-toggle='collapse' data-target='#collapseNavBar'>
		<img src="{{ url }}/imgs/barsBlue.png" alt="navbar toggler">
	</button>

{% endblock %}

{% block header %}

	<header class="home">

{% endblock %}

{% block main %}

{% endblock %}

{% block footer %}

	<footer class="home">

{% endblock %}
